body, h5 {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  :root {
    --sidebar-bg-color: #2C2C2C;
    --sidebar-text-color: #CCCCCC;
    --chat-window-bg-color: #3B3B3B;
    --chatbot-info-bg-color: #202020;
    --user-info-bg-color: #202020;
    --message-input-bg-color: #202020;
    --message-user-bg-color: #0B93F6;
    --message-bot-bg-color: #058541;
  }
  
  /* Sidebar styles */
  .sidebar {
    background-color: var(--sidebar-bg-color);
    color: var(--sidebar-text-color);
    height: calc(100vh - 60px);
    overflow-y: auto;
  }
  
  .list-group-item {
    background-color: transparent;
    color: var(--sidebar-text-color);
    border: none;
  }
  
  .list-group-item.active, .list-group-item:hover {
    background-color: #555;
  }
  
  /* Chat window styles */
  .chat-window {
    background-color: var(--chat-window-bg-color);
    height: calc(100vh - 120px);
    overflow-y: auto;
    padding: 10px;
  }
  
  /* Chatbot info styles */
  .chatbot-info {
    background-color: var(--chatbot-info-bg-color);
    color: white;
    padding: 15px;
  }
  
  /* User info and message input styles */
  .user-info, .message-input {
    background-color: var(--user-info-bg-color);
    padding: 10px;
    height: 60px;
    color: white;
    align-items: center;
    display: flex;
  }
  
  /* Message styles */
  .message {
    padding: 10px 15px;
    border-radius: 20px;
    margin: 5px 0;
    max-width: 80%;
  }
  
  .bg-primary {
    background-color: var(--message-user-bg-color) !important;
  }
  
  .bg-success {
    background-color: var(--message-bot-bg-color) !important;
  }
  
  /* Message alignment */
  .message.user {
    margin-left: auto; /* Aligns user messages to the right */
    background-color: var(--message-user-bg-color); /* Background color for user messages */
    color: white; /* Text color for user messages */
}
  
.message.bot {
  margin-right: auto; /* Aligns bot messages to the left */
  background-color: var(--message-bot-bg-color); /* Background color for bot messages */
  color: white; /* Text color for bot messages */
}
  