RewriteEngine On

# Prevenir listado de directorios
Options -Indexes

# Ocultar información del servidor
ServerSignature Off

# Detectar el subdominio y la estructura de la URL
RewriteCond %{HTTP_HOST} ^([^.]+)\.jordicor\.com$ [NC]
RewriteCond %{REQUEST_URI} ^/([0-9]+)/([^/]+)(/.*)?$ [NC]

# Redirigir a process.php para las URLs que coincidan con /{número}/{nombre}/{resto}
RewriteRule ^([0-9]+)/([^/]+)(/.*)?$ process.php?num=$1&name=$2&path=$3 [L,QSA]

# Manejar las solicitudes de /gtpic
RewriteCond %{REQUEST_URI} ^/gtpic/(.+\.(jpg|jpeg|png|gif|tiff|webp))$ [NC]
RewriteCond %{DOCUMENT_ROOT}/users/%1 -f
RewriteRule ^gtpic/(.+)$ /users/$1 [L]

# Si el archivo no existe en /users, devolver un 404
RewriteCond %{REQUEST_URI} ^/gtpic/
RewriteRule ^ - [R=404,L]


# Si la ruta no coincide con la estructura anterior, pasar a las reglas del servidor web por defecto
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . - [L]